body { font-family: Arial; text-align: center; background: #f5f6fa; }
.section a, .template a {
  display: block;
  background: white;
  margin: 10px;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
}
